Repository hanpham32/openfront-onchain, changes with the owners that CODEOWNERS names for each.
All owners: @openfrontio/review-approver, @openfrontio/translation-approver, @openfrontio/frontend-approver, @openfrontio/backend-approver

CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @openfrontio/review-approver
resources/lang @openfrontio/translation-approver
resources/lang/en.json @openfrontio/review-approver
src/client @openfrontio/frontend-approver
src/server @openfrontio/backend-approver

fix TypeScript compilation err
  src/client/App.tsx
Owners: @openfrontio/frontend-approver

chore: sort imports and naming of buttons
  src/client/App.tsx
Owners: @openfrontio/frontend-approver

add tailwind
  package-lock.json
  package.json
  tailwind.config.js
Owners: @openfrontio/review-approver

add pnpm cuz duh
  pnpm-lock.yaml
  src/client/graphics/layers/ControlPanel.ts
  src/client/graphics/layers/HeadsUpMessage.ts
  src/client/graphics/layers/PlayerInfoOverlay.ts
Owners: @openfrontio/review-approver, @openfrontio/frontend-approver

add privy for wallet
  package.json
  pnpm-lock.yaml
  src/client/App.tsx
  src/client/index.tsx
  src/client/jwt.ts
  webpack.config.js
Owners: @openfrontio/review-approver, @openfrontio/frontend-approver

chore: change btn title
  src/client/App.tsx
Owners: @openfrontio/frontend-approver

ignore dev files
  .gitignore
  .husky/pre-commit
Owners: @openfrontio/review-approver

fix: create lobby & join lobby
  src/client/App.tsx
  src/client/HostLobbyModal.ts
  src/client/JoinPrivateLobbyModal.ts
Owners: @openfrontio/frontend-approver

chore: fix naming text
  src/client/JoinPrivateLobbyModal.ts
  src/client/SinglePlayerModal.ts
Owners: @openfrontio/frontend-approver

add command to start a second client node
  package.json
Owners: @openfrontio/review-approver

fix: join lobby working
  src/client/App.tsx
  src/client/HostLobbyModal.ts
  src/client/JoinPrivateLobbyModal.ts
Owners: @openfrontio/frontend-approver

chore: fix naming
  src/client/HostLobbyModal.ts
  src/client/graphics/layers/ControlPanel.ts
  src/client/graphics/layers/GameLeftSidebar.ts
  src/client/graphics/layers/Leaderboard.ts
Owners: @openfrontio/frontend-approver

feat: add gold star icon for host
  src/client/HostLobbyModal.ts
Owners: @openfrontio/frontend-approver

feat: convert username input and join lobby from lit to react
  src/client/App.tsx
  src/client/components/HostLobbyModal.tsx
  src/client/components/JoinPrivateLobbyModal.tsx
  src/client/components/Modal.tsx
  src/client/components/PublicLobby.tsx
  src/client/components/UsernameInput.tsx
  src/client/index.html
Owners: @openfrontio/frontend-approver

feat: add react icons and add gold star icon to host client
  package.json
  pnpm-lock.yaml
  src/client/App.tsx
  src/client/components/HostLobbyModal.tsx
  src/client/components/PublicLobby.tsx
Owners: @openfrontio/review-approver, @openfrontio/frontend-approver

feat: condense user wallet address as user name
  src/client/App.tsx
  src/client/components/HostLobbyModal.tsx
  src/client/components/JoinPrivateLobbyModal.tsx
Owners: @openfrontio/frontend-approver

add openfront game server contract
  .gitmodules
  src/contracts/README.md
  src/contracts/broadcast/DeployOpenfront.s.sol/31337/run-1756242688835.json
  src/contracts/broadcast/DeployOpenfront.s.sol/31337/run-latest.json
  src/contracts/cache/DeployOpenfront.s.sol/31337/run-1756242688835.json
  src/contracts/cache/DeployOpenfront.s.sol/31337/run-latest.json
  src/contracts/cache/solidity-files-cache.json
  src/contracts/deployments/local.json
  src/contracts/foundry.lock
  src/contracts/script/DeployOpenfront.s.sol
  src/contracts/src/Openfront.sol
Owners: @openfrontio/review-approver

add wagmi and viem
  package.json
  pnpm-lock.yaml
Owners: @openfrontio/review-approver

set up wagmi provider
  src/client/index.tsx
  src/config/wagmi.ts
Owners: @openfrontio/frontend-approver, @openfrontio/review-approver

fix blank white screen
  package.json
  pnpm-lock.yaml
  src/client/graphics/layers/PlayerInfoOverlay.ts
  src/client/index.tsx
  src/server/Master.ts
Owners: @openfrontio/review-approver, @openfrontio/frontend-approver, @openfrontio/backend-approver

chore: remove legacy HostLobbyModal
  src/client/HostLobbyModal.ts
  src/client/Main.ts
Owners: @openfrontio/frontend-approver

add wagmi utils and provider
  src/client/components/HostLobbyModal.tsx
  src/client/contract/utils.ts
  src/client/index.tsx
  src/contracts/cache/solidity-files-cache.json
Owners: @openfrontio/frontend-approver, @openfrontio/review-approver

fix: use wagmiProvider from Privy
  package.json
  pnpm-lock.yaml
  src/client/index.tsx
  src/config/wagmi.ts
Owners: @openfrontio/review-approver, @openfrontio/frontend-approver

turn off some eslint linting
  eslint.config.js
Owners: @openfrontio/review-approver

feat: create lobby on chain
  src/client/components/HostLobbyModal.tsx
  src/client/components/Modal.tsx
  src/client/styles.css
  src/client/styles/components/modal.css
  src/contracts/README.md
  src/contracts/broadcast/DeployOpenfront.s.sol/31337/run-1756322924677.json
  src/contracts/broadcast/DeployOpenfront.s.sol/31337/run-1756323580447.json
  src/contracts/broadcast/DeployOpenfront.s.sol/31337/run-1756323835834.json
  src/contracts/broadcast/DeployOpenfront.s.sol/31337/run-1756326368888.json
  src/contracts/broadcast/DeployOpenfront.s.sol/31337/run-1756326537525.json
  src/contracts/cache/DeployOpenfront.s.sol/31337/run-1756322924677.json
  src/contracts/cache/DeployOpenfront.s.sol/31337/run-1756323580447.json
  src/contracts/cache/DeployOpenfront.s.sol/31337/run-1756323835834.json
  src/contracts/cache/DeployOpenfront.s.sol/31337/run-1756326368888.json
  src/contracts/cache/DeployOpenfront.s.sol/31337/run-1756326537525.json
Owners: @openfrontio/frontend-approver, @openfrontio/review-approver

wip: fixing page crashes
  src/client/App.tsx
  src/client/ClientGameRunner.ts
  src/client/InputHandler.ts
  src/client/JoinPrivateLobbyModal.ts
  src/client/Main.ts
  src/client/PublicLobby.ts
  src/client/components/JoinPrivateLobbyModal.tsx
  src/client/components/PublicLobby.tsx
Owners: @openfrontio/frontend-approver
